<a href="https://colab.research.google.com/github/kkarenCevallos/INTELIGENCIA-ARTIFICIAL/blob/main/2PFinalMartes25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
myNumber=3
myNumberDECIMAL=3.0
state=True

In [ ]:
print(f'valor entero: {myNumber}')
print(f'valor decimal: {myNumberDECIMAL}')
print('valor entero es =',myNumber)

valor entero: 3
valor decimal: 3.0
valor entero es = 3

In [ ]:
aux1=10
aux2=2
print("La suma de las variables aux1 + aux2 = ",aux1+aux2)

La suma de las variables aux1 + aux2 =  12

In [ ]:
aux1=14
aux2=2
print("La resta de las variables aux1 - aux2 = ",aux1-aux2)

La resta de las variables aux1 - aux2 =  12

In [ ]:
aux1=10
aux2=2
print("La multiplicación de las variables aux1 * aux2 = ",aux1*aux2)

La multiplicación de las variables aux1 * aux2 =  20

In [ ]:
aux1=10
aux2=2
print("La división de las variables aux1 / aux2 = ",aux1/aux2)

La división de las variables aux1 / aux2 =  5.0

In [ ]:
tmp=aux1**aux2
print(f'El resultado es $10*2$={tmp}')

El resultado es $10*2$=100

In [ ]:
var1='hola'
var2='!,Mishelle'
print(var1+var2)

hola!,Mishelle

In [ ]:
var1='hola'
var2=' Karen'
print(var1+var2)

hola Karen

In [ ]:
print(3*var1)

holaholahola

In [ ]:
num1=10
num2=10.5

In [ ]:
print('El tipo de número es: ',type(num1))
print('El tipo de número es: ',type(num2))

El tipo de número es:  <class 'int'>
El tipo de número es:  <class 'float'>

In [ ]:
#TUESDAY 25 JUNE 2024
#tmp=list()
#tmp.append(2)
#print(tmp)
#tmp.append('mishelle')
#print(tmp)
#tmp.append(2)
#tmp.append('merly')
#print(tmp)
#print(tmp[3])
#aux=tmp[3]
# aux.capitalize()
# print(aux)
#print(aux.upper())
#tmp1='hello'
#print(tmp1.capitalize())

#aux1=[1,2,3,4,5,6,7,8,9,10]
#print(aux1)

#aux1[4]=10
#print(aux1)

#print(aux1[-1])

#print(aux1[3:7])

#print(aux1[0:5])

#print(aux1[:5])

#aux2=list()
#for i in range(100):
#  aux2.append(i)
#  print(aux2[:20])

#aux3=list()
#for indx, elem in enumerate(aux2):
#  if aux2[indx]%2==0:
#    aux3.append(aux2[indx]**2)
#    print(aux3)


animals=['cat','dog','monky','rabbit']
for animals in animals:
  print(animals)

tmp3=[i**2 for i in range(10) if i%2==0]
print(tmp3)

cat
dog
monky
rabbit
[0, 4, 16, 36, 64]

In [ ]:
myDictionary={'cat':'cute','dog':'big'}
print(myDictionary['cat'])
myDictionaryAux={'monkey':'black','mouse':'small','rabit':'white'}
myDictionary.update(myDictionaryAux)
print(myDictionary)
for key, value in myDictionary.items():
  #print(key)
  print(f'key : {key} Value: {value}')

  myList=[1,2,3,4,5,6]
  myDictAux1={x:x**2 for x in myList}
  print (myDictAux1)

cute
{'cat': 'cute', 'dog': 'big', 'monkey': 'black', 'mouse': 'small', 'rabit': 'white'}
key : cat Value: cute
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
key : dog Value: big
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
key : monkey Value: black
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
key : mouse Value: small
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
key : rabit Value: white
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
def suma(var1, var2, flag):
  if flag==True:
    tmp=var1+var2
  else:
    tmp=var2+var2
  #resta
  return tmp

num1=2
num2=7
control=True
print(suma(num1,num2,control))

9

In [ ]:
listnNumeros=[-1,+1,0]
def numero_positivo_negativo(numero):
 if numero > 0:
    print(f'el numero{numero} es positivo')
 elif numero <0:
    print(f'el numero{numero} es negativo')
 else:
    print(f'el numeroes cero')

print(numero_positivo_negativo(listnNumeros[2]))

el numeroes cero
None

In [ ]:
var1= set()
var1.add(3)
print(var1)
var1.add('karen')
var1.add(True)
var1.add('hola')
print(var1)
var1.remove('karen')
print(var1)

print(len(var1))
print(3 in var1)

for elem in var1:
  print(elem)

{3}
{True, 3, 'karen', 'hola'}
{True, 3, 'hola'}
3
True
True
3
hola

In [ ]:
#Juples
var2=tuple()

#crear una variable tupa con elementos adicionales
var2=var2+('como', 1, True)
print(var2)
print(type(var2))

var2_lista=list(var2)
var2_lista.remove('como')
print(var2_lista)

('como', 1, True)
<class 'tuple'>
[1, True]

In [ ]:

#hoy to define class
class saludo(object):
  def __init__(self, name):
    print("el objeto a sido creado")
    self.name=name

  def saludoPersonal(Self):
    return f"hola, {Self.name}"

name1= saludo('karen')
name2= saludo('cevallos')
name3= saludo('0009')

print(name1.saludoPersonal())

el objeto a sido creado
el objeto a sido creado
el objeto a sido creado
hola, karen

In [ ]:
import math
class FigurasGeometricas:
    def __init__(self, radio, base, altura):
        self.radio = radio
        self.base = base
        self.altura = altura


    def calcular_area_circulo(self):
        area_circulo = math.pi * self.radio ** 2
        return area_circulo

    def calcular_area_triangulo(self):
        area_triangulo = (self.base * self.altura) / 2
        return area_triangulo

    def calcular_area_cuadrado(self):
        area_cuadrado = (self.altura * self.altura)
        return area_cuadrado


figura = FigurasGeometricas(radio=5, base=6, altura=4)

area_circulo = figura.calcular_area_circulo()
print(f"El área del círculo es: {area_circulo:.2f}")

area_triangulo = figura.calcular_area_triangulo()
print(f"El área del triángulo es: {area_triangulo:.2f}")

area_cuadrado = figura.calcular_area_cuadrado()
print(f"El área del cuadrado es: {area_cuadrado:.2f}")

El área del círculo es: 78.54
El área del triángulo es: 12.00
El área del cuadrado es: 16.00

In [ ]:
class printingNameAge(object):
  def __init__(self, name, age):
    print("El objeto a sido creado")
    self.name=name
    self.age=age

def uppercase(self):
  return f"Name: {self.name.upper()} y la edad {self.age}"

estudiante1=printingNameAge('karen',22)

print(estudiante1.name)
print(estudiante1.age)

El objeto a sido creado
karen
22

In [ ]:
class Calculadora:
    def __init__(self, numero1, numero2):
        self.numero1 = numero1
        self.numero2 = numero2

    def sumar(self):
        resultado = self.numero1 + self.numero2
        print(f"{self.numero1} + {self.numero2} = {resultado}")
        self.es_par(resultado)

    def restar(self):
        resultado = self.numero1 - self.numero2
        print(f"{self.numero1} - {self.numero2} = {resultado}")
        self.es_par(resultado)

    def multiplicar(self):
        resultado = self.numero1 * self.numero2
        print(f"{self.numero1} * {self.numero2} = {resultado}")
        self.es_par(resultado)

    def dividir(self):
        if self.numero2 == 0:
            print("Error: división por cero")
        else:
            resultado = self.numero1 / self.numero2
            print(f"{self.numero1} / {self.numero2} = {resultado}")
            self.es_par(resultado)

    def es_par(self, numero):
        if numero % 2 == 0:
            print(f"{numero} es par")
        else:
            print(f"{numero} es impar")


calculadora = Calculadora(10, 5)

calculadora.sumar()
calculadora.restar()
calculadora.multiplicar()
calculadora.dividir()

10 + 5 = 15
15 es impar
10 - 5 = 5
5 es impar
10 * 5 = 50
50 es par
10 / 5 = 2.0
2.0 es par