<a href="https://colab.research.google.com/github/kkarenCevallos/INTELIGENCIA-ARTIFICIAL/blob/main/2PLUNES10JUNIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
myNumber=3
myNumberDECIMAL=3.0
state=True

In [ ]:
print(f'valor entero: {myNumber}')
print(f'valor decimal: {myNumberDECIMAL}')
print('valor entero es =',myNumber)

valor entero: 3
valor decimal: 3.0
valor entero es = 3

In [ ]:
aux1=10
aux2=2
print("La suma de las variables aux1 + aux2 = ",aux1+aux2)

La suma de las variables aux1 + aux2 =  12

In [ ]:
aux1=14
aux2=2
print("La resta de las variables aux1 - aux2 = ",aux1-aux2)

La resta de las variables aux1 - aux2 =  12

In [ ]:
aux1=10
aux2=2
print("La multiplicación de las variables aux1 * aux2 = ",aux1*aux2)

La multiplicación de las variables aux1 * aux2 =  20

In [ ]:
aux1=10
aux2=2
print("La división de las variables aux1 / aux2 = ",aux1/aux2)

La división de las variables aux1 / aux2 =  5.0

In [ ]:
tmp=aux1**aux2
print(f'El resultado es $10*2$={tmp}')

El resultado es $10*2$=100

In [ ]:
var1='hola'
var2='!,Mishelle'
print(var1+var2)

hola!,Mishelle

In [ ]:
var1='hola'
var2=' Karen'
print(var1+var2)

hola Karen

In [ ]:
print(3*var1)

holaholahola

In [ ]:
num1=10
num2=10.5

In [ ]:
print('El tipo de número es: ',type(num1))
print('El tipo de número es: ',type(num2))

El tipo de número es:  <class 'int'>
El tipo de número es:  <class 'float'>

In [ ]:
#MARTES 25 DE JUMIO DEL 2024
tmp = list()
tmp.append(2)
print(tmp)
tmp.append('karen')
print(tmp)
tmp.append(5)
print(tmp)
tmp.append('mishelle')
print(tmp)
print(tmp[3])
aux= tmp[3]
print(aux.upper())

tmp1= 'hello'
print(tmp1.capitalize())


aux1=[1,2,3,4,5,6,7,8,9,10]
print(aux1)

aux1[4]=10
print(aux1)


print(aux1[-1])
print(aux1[3:7])
print(aux1[0:5])
print(aux1[:5])

aux2=list()
for i in range(100):
  aux2.append(i)
print(aux2[:20])

aux3=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==0:
    aux3.append(aux2[indx])

print(aux3)


animales=['gato', 'perro', 'mono']
for animal in animales:
  print(animal)


tmp3=[i**2 for i in range(10) if i%2==0]
print(tmp3)

[2]
[2, 'karen']
[2, 'karen', 5]
[2, 'karen', 5, 'mishelle']
mishelle
MISHELLE
Hello
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 10, 6, 7, 8, 9, 10]
10
[4, 10, 6, 7]
[1, 2, 3, 4, 10]
[1, 2, 3, 4, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
gato
perro
mono
[0, 4, 16, 36, 64]

In [ ]:
myDictionary={'cat':'cute', 'dog':'big'}
print(myDictionary['cat'])

cute

In [ ]:
myDictAux={'mono':'blanco', 'paloma':'cafe'}
myDictionary.update(myDictAux)
print(myDictionary)
for key, value in myDictionary.items:
  print('key: {key} value: {value}')